inu.bukharney.site {
    handle /admin/* {
		uri strip_prefix /admin
        reverse_proxy inu_phpmyadmin:80
    }
	reverse_proxy inu_server:3001
}

modx.bukharney.site {
    handle /api/* {
		uri strip_prefix /api
        reverse_proxy modx_server:8080
    }
	reverse_proxy modx_client:4173
}

myas.bukharney.site {
    handle /api/* {
		uri strip_prefix /api
        reverse_proxy myas_server:8080
    }
	reverse_proxy myas_client:4173
}

bukchat.bukharney.site {
    handle /api/* {
                uri strip_prefix /api
        reverse_proxy bukchat_server:8080
    }
        reverse_proxy bukchat_client:4173
}
