inu.bukharney.tech {
	reverse_proxy inu_server:3001
}

modx.bukharney.tech {
    handle /api/* {
		uri strip_prefix /api
        reverse_proxy modx_server:8080
    }
	reverse_proxy modx_client:4173
}

myas.bukharney.tech {
    handle /api/* {
		uri strip_prefix /api
        reverse_proxy myas_server:8080
    }
	reverse_proxy myas_client:4173
}
